@media only screen and (max-width: 750px) {
    .comment-box {
        flex-direction: column !important;
        flex-wrap: wrap;
    }
    .shortcut-box .col {
        width: 50%;
    }
}

@media only screen and (max-width: 650px) {
    .chat-place {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
    .sana-profile-pic {
        width: 100%;
    }
    .container:has(.chat-place) {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }
    .bubble-chat {
        width: 70% !important;
    }

    .wider {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
    #carouselExampleIndicators {
        border-radius: 7px !important;
    }
    .shortcut-box {
        width: 100%;
        text-align: center;
        align-items: start !important;
    }
    .shortcut-box .col {
        width: 50%;
    }
    .container {
        width: 100% !important;
    }
    .col {
        width: 100% !important;
    }
}
