body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: #F4E1BC;
}
.bg-holdu-linear {
    background:linear-gradient(90deg,#0C78B2, #56A9AF);
}

a.navbar-brand > img.logo {
    height: 60px;
}

.nav-link {
    color: white;
}

.navbar-collapse {
    flex-grow: initial !important;
    align-items: end;
}

.navbar-nav {
    margin-right: 20px;
}
.nav-item {
    margin-left: 20px;
}
.rounded {
    border-radius: 30px !important;
}
.thumbnail {
    width: 100%;
}
.bg-custom-home {
    background: linear-gradient(90deg, #75CAD0 0%, #175A5F 50%, #68B4B9 100%);
    width: 100%;
}