/* Color code */
/* Primary: #25434d */
/* Secondary: #abe3e0*/
/* Gradient: linear-gradient(to bottom, #25434d, #4b879b) */

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: #e9f3f5;
}

/* Bootstrap custom styling */
.navbar-toggler {
    color: white !important;
}
.btn-primary {
    background-color: #25434d;
    color: white;
    border: none;
}

.bg-primary {
    background-color: #25434d !important;
    color: white;
}

a {
    text-decoration: none;
    color: initial;
}

a.navbar-brand > img.logo {
    height: 60px;
}

.btn-light {
    border: none;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #abe3e0 !important;
    color: #175a5f !important;
    border-radius: 20px !important;
}

.navbar {
    background: #25434d !important;
}

.navbar-collapse {
    flex-grow: initial !important;
    align-items: end;
}

.navbar-nav {
    margin-right: 20px;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    color: white;
}
.nav-item:has(.active) {
    border-bottom: 2px solid white;
}

.active {
    color: white !important;
}
.rounded {
    border-radius: 30px !important;
}
.thumbnail {
    width: 100%;
}
.bg-custom-home {
    background: #24424c !important;
    color: white !important;
    width: 100%;
}

.sm-row-box:has(.kotak-login,.kotak-login-2) {
    display: flex;
    flex-direction: row;
    width: 80%;
    background: linear-gradient(to bottom, #25434d, #4b879b);
}

.form-login {
    width: 80%;
}

.kotak-login {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border-radius: 0 10px 10px 0; */
}
.kotak-login-2 {
    display: flex;
    flex-direction: column;
    /* color: #175a5f; */
    height: 550px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px 0 0 10px; */
}

.login-pic {
    width: 90%;
    height: 700px;
}

.kotak {
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.stroke-white {
    -webkit-text-stroke: 1px white;

    color: transparent;
}

.sit-pic {
    width: 60%;
    /* height: 400px; */
}

.home-shaming {
    width: 65%;
    /* height: 490px; */
}

.mushroom-pic {
    width: 75%;
    /* height: 400px; */
}

.shortcut-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    /* height: 140px; */
    flex-wrap: wrap;
    background: #25434d;
}

.sana-pic {
    padding: 10px;
    width: 100%;
}

.wrap-icon-shortcut {
    padding: 5px;
}

.icon-pic {
    font-size: 80px !important;
}

.icon-box {
    width: 90px;
    height: 90px;
}

.mushroom {
    width: 10%;
}

.arrow-icon {
    font-size: 90px !important;
}

.comment-box {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* ConnectU */
.wider {
    width: 75%;
}

.form-comment {
    width: 80%;
}

.btn-send {
    width: 20%;
}

.sidebar {
    width: 25%;
}

.post {
    margin-top: 15px;
    width: 100%;
    height: fit-content;
    padding: 10px 18px;
    background: white;
    border-radius: 12px;
}

.textarea-connectu {
    padding: 15px;
    border-radius: 20px;
}

.thumbnail-connectu {
    width: 50px;
    margin-right: 10px;
}
.post-header {
    height: 80px;
    display: flex;
    align-items: center;
}

.category-bar {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    color: white;
    background-color: linear-gradient(to bottom, #25434d, #4b879b);
}

.category-bar ul {
    list-style-type: none;
    margin: 0;
    line-height: 40px;
    padding: 0;
}
.banner-bar {
    margin-top: 12px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    color: white;
    background: linear-gradient(to bottom, #25434d, #4b879b);
}

/* End ConnectU */
.mushroom {
    width: 10%;
}

.connect-box {
    background: linear-gradient(to bottom, #25434d, #4b879b);
    color: white;
    /* height: 100%; */
    width: 100%;
}

.arrow-icon {
    font-size: 90px !important;
}

.comment-box {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* ConnectU */
.wider {
    width: 75%;
}

.form-comment {
    width: 80%;
}

.btn-send {
    width: 20%;
}

.sidebar {
    width: 25%;
}

.post {
    margin-top: 15px;
    width: 100%;
    height: fit-content;
    padding: 10px 18px;
    background: white;
    border-radius: 12px;
}

.textarea-connectu {
    padding: 15px;
    border-radius: 20px;
}

.thumbnail-connectu {
    width: 50px;
    margin-right: 10px;
}
.post-header {
    height: 80px;
    display: flex;
    align-items: center;
}

.category-bar {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to bottom, #25434d, #4b879b);
}

.category-bar ul {
    list-style-type: none;
    margin: 0;
    line-height: 40px;
    padding: 0;
}
.banner-bar {
    margin-top: 12px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    color: white;
    background: linear-gradient(to bottom, #25434d, #4b879b);
}

/* End ConnectU */

.chat-box {
    display: flex;
    gap: 10px;
    width: 100%;
}

.chat-place {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    overflow: auto;
    gap: 20px;
}

.form-size {
    width: 80%;
}

.form-chat {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.btn-normal {
    width: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-area {
    width: 100%;
    height: 300px;
    border: none;
}

.w-50 {
    width: 50%;
}

.n-sound {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    overflow: auto;
    gap: 20px;
}

.fit-content {
    width: 25%;
    height: fit-content;
}
